<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 pt-5">
                <div class="h-image">
                    <img src="../../../assets/images/image 1.png" class="img-fluid" style="height: 100%" />
                </div>

            </div>

            <div class="col-8 pt-5 contact2" >
                <h2>FAQ's</h2>
                <h1>How do i use Tracer?</h1>
                <p>You can watch the following<a href="#" style="color:#ed4b9e;">Vedio</a>.</p>
                <h1>What platforms are supported by Tracer?</h1>
                <p>Tracer supports the android platform. Our team is working so hard to bring Tracer 
                    to other platforms.</p>
                <h1>What regions are supported?</h1>
                <p>Tracer uses global positioning system along with a SIM card of your choice and that 
                    gives it the power to serve you anywhere in the world!</p>
                <h1>Where can I buy a Tracer device?</h1>
                <p>Tracer’s <a href="#" style="color: #ed4b9e;">virtual store</a> ships to multiplue
                    cities to your door step. Order yours and be safer today.</p>
                <h1>How to do X and Y?</h1>
                 <p>You can do X and Y by doing A, B, C, and D too. </p><br/><br/>

            </div>
        </div><br><br>
        <div class="row">

            <div class="col-4">
            </div>
            <div class="col-4">
                <h2>Feel Free to get <br /> in touch with us</h2>
            
                <div class="col-10 pt-5">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="p-3 pl-0 col-12 rounded form-control" placeholder="Name"
                                style=" background-color: darkgray" />
                        </div>
                        <div class="col-12 mt-3">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="p-3 pl-0 col-12 rounded form-control" placeholder="Email"
                                style=" background-color: darkgray" />
                        </div>
                        <div class="col-12 mt-3">
                            <label for="msg">Message</label>
                            <textarea id="msg" name="txtarea" placeholder="&nbsp;&nbsp;Message"
                                data-constraints="@NotEmpty"
                                style="height: 119px; width:100%; background-color: darkgray"
                                class="rounded form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn"
                            style="background-color: #4b4ded;color: #fff">Submit</button>
                    </div>


                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
