<section id="home" class="xxx pb-3">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-5 col-md-12 pt-1">
                <video width="450" height="300" controls class="img-fluid">
                    <source src="../../../assets/videos/Elzero Web School.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-lg-7 col-md-12 pt-5">
                <h1 class="col-12">Feeling Safer <br /> Starts here.</h1>
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-outline-primary s-btn rounded" type="button"><i
                                    class="fab fa-google-play">
                                    <a class="nav-link" href="https://play.google.com/store"
                                        routerLinkActive="router-link-active">Google Play Store </a>
                                </i> </button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-primary s-btn rounded" type="button">
                                <!-- <i class="fas fa-shopping-cart"> -->
                                    <a class="nav-link" [routerLink]="['/main/order']"
                                        routerLinkActive="router-link-active">Order </a>
                                <!-- </i> -->
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>
<section id="about2">
    <div class="container mb-5">
        <div class="row">
            <div class="col-5 pt-3"><img src="../../../assets/images/LeftImage.png" class="img-fluid " /></div>
            <div class="col-7 pt-5">
                <h1 class="col-12">Location <br /><h3>Where it is, where it's been.</h3>
                    <p style="font-size: 16px;">Tracer allows the user to track the devise<br/> and receive updates of its location and<br/> where its heading. </p> </h1>

            </div>
            <div class="col-5 pt-5">
                <h1 class="col-12">Safety <br /><h3>We're with you</h3>
                    <p style="font-size: 16px;">Your loved ones and mergency contact<br/>have access to your live location and<br/>can reach you at anytime. </p> </h1>

            </div>
            <div class="col-7 pt-3"><img src="../../../assets/images/Image.png" class="img-fluid " /></div>

            <div class="col-5 pt-3"><img src="../../../assets/images/Image1.png" class="img-fluid " /></div>
            <div class="col-7 pt-5">
                <h1 class="col-12">SOS Buttons <br /><h3>Help is on the way.</h3>
                    <p style="font-size: 16px;">With a press of a button, your emergency<br/>
                        contacts are notified that your are in<br/>danger and they are given access to your<br/>
                         live location to reach you.</p></h1>

            </div>
            <div class="col-5 pt-5">
                <h1 class="col-12">Device <br /><h4>Tracking made easy.</h4>
                    <p style="font-size: 16px;">Tracer is easy to set up and small so you<br/>
                    can take it with you anywhere,without<br/>any problems.</p>
                    <button class="btn btn-primary s-btn rounded" type="button">TECH SPECS</button>
                </h1>

            </div>
            <div class="col-7 pt-3"><img src="../../../assets/images/RightImage.png" class="img-fluid " /></div>

        </div>
    </div>
</section>