<section id="a-content">
    <div class="container">
    <div class="row">
    <div class="col-5 pt-1">
      <video width="450" height="300" controls class="img-fluid">
        <source src="../../../assets/videos/Elzero Web School.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-7 pt-5">
    <h2 class="col-12">How to set up Tracer.</h2>
    <p class="col-12">Feature Description.</p>
    
    </div>
    </div>
    
        <div class="row">
    <div class="col-5 pt-1">
        <video width="450" height="300" controls class="img-fluid">
            <source src="../../../assets/videos/Elzero Web School.mp4" type="video/mp4">
          </video>
    </div>
    <div class="col-7 pt-5">
        <h2 class="col-12">How to set up the App.</h2>
        <p class="col-12">Feature Description.</p>
    </div>
    </div>
    
        <div class="row">
    <div class="col-5 pt-1">
        <video width="450" height="300" controls class="img-fluid">
        <source src="../../../assets/videos/Elzero Web School.mp4" type="video/mp4">
      </video>
    </div>

    <div class="col-7 pt-5">
        <h2 class="col-12">How to change it.</h2>
        <p class="col-12">Feature Description.</p>
    </div>
    </div>
    
        <div class="row">
    <div class="col-5 pt-1">
        <video width="450" height="300" controls class="img-fluid">
            <source src="../../../assets/videos/Elzero Web School.mp4" type="video/mp4">
          </video>
    </div>
    <div class="col-7 pt-5">
        <h2 class="col-12">Some thing else too.</h2>
        <p class="col-12">Feature Description.</p>
    </div>
    </div>
    </div>
    </section>