<section id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h1 class="col-12" style="padding: 0">Our Mission</h1>
                <p>
                    We aspire to reduce the number of kidnappings in all communities,
                    and we also want to reduces the amount of stress our users
                    go through by providing them with a sense of safty through our tracking solution.

                </p>
            </div>
            <div class="col-2">
                <ul class="col-12">
                    <li class="mb-3"><a href="#" target="_blank">Features</a></li>
                    <li class="mb-3"><a href="#" target="_blank">Activation</a></li>
                    <li class="mb-3"><a href="#" target="_blank">User Guide</a></li>
                    <li class="mb-3"><a href="#" target="_blank">Contact Us</a></li>

                </ul>
            </div>
            <div class="col-2">
                <ul class="col-12">
                    <li class="mb-3"><a href="#" target="_blank">Pricing</a></li>
                    <li class="mb-3"><a href="#" target="_blank">Ordering</a></li>
                    <li class="mb-3"><a href="#" target="_blank">Help</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h2 class="col-12">Stay Informed</h2>
                <div class="input-group col-12">
                    <input type="text" class="col-lg-8 col-md-12 mt-3 form-control rounded" placeholder="Your Email"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="col-lg-4 col-md-12 input-group-append mt-3">
                        <button class="btn btn-primary s-btn rounded" type="button" style="background-color: #4b4ded;border-color: #4b4ded;">Sign Up</button>
                    </div>
                </div>
                <div class="col-12 input-group-append mt-4">
                    <button class="btn btn-outline-primary s-btn rounded" type="button" style="color: blue"><i
                            class="fab fa-google-play">
                            <a class="nav-link" href="https://play.google.com/store" routerLinkActive="router-link-active">Google Play Store </a>
                        </i> </button>
                </div>

            </div>
        </div>
    </div>
</section>